{% extends 'blog/base.html' %} 
{% load static %}


{% block content %}
<h1> Trabalho de Conclusão de Curso #TCC - Recomendação </h1>

<p> Oi! {{ x }} Hoje é dia {{ y }}.</p> 

<h4>
Este trabalho, tem o propósito de mostrar o que é e como funciona um Sistema de Recomendação (SR), e então aplicar
esta técnica, dentro de um sistema pré desenvolvido.
</h4><br>
1. A plataforma SM Fácil está em desenvolvimento desde o terceiro semestre, com proposta conduzida em PPI.<br>
2. A Mesma se trata de um e-commerce para produtos alimenticios.<br>
3. Após estudos das técnicas de recomendação, foi escolhido um algoritmo específico para ser trbalhado, 
conhecido por: FRAMES DE RECOMENDAÇÃO.<br>
4. Em estudos e testes desta técnica, a mesma foi integrada no sistema pré desenvolvido.<br>

{% endblock %}
